body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center your h1 element */
}

h1 {
    color: #27e9ff;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'KoHo', sans-serif;
}
.token-identifier {
    color: #27e9ff;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'KoHo', sans-serif;
}
.balance {
    color: #27e9ff;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'KoHo', sans-serif;
}
.result {
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'KoHo', sans-serif;
}
#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will create a two-column layout for your list */
    max-width: 600px; /* You can adjust this value as needed */
}
#result p {
    width: 45%; /* You can adjust this value as needed */
    box-sizing: border-box;
}
/* Responsive styling */
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 24px;
    }
    #result p {
        width: 100%; /* On small screens, the list items will stack vertically */
    }
}